@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif; }

/*-----header-----*/
header {
  background-color: #192537;
  height: 120px;
  width: 100%;
  border-bottom: white 1px solid;
  position: sticky;
  top: 0px;
  z-index: 1; }
  header .enlace img {
    width: 300px; }
  header ul {
    float: right;
    margin-right: 30px; }
    header ul li {
      display: inline-block;
      line-height: 120px;
      margin: 0 10px; }
      header ul li a {
        color: white;
        font-size: 14px;
        padding: 7px 13px;
        text-decoration: none;
        text-transform: uppercase; }
        header ul li a:hover {
          color: #92856f;
          transition: .3s; }
  header .boton {
    display: flex;
    justify-content: right; }
    header .boton img {
      width: 46px;
      color: white;
      position: relative;
      top: 37px;
      margin-right: 37px;
      cursor: pointer;
      display: none; }
  header #check {
    display: none; }

/*-----main de inicio-----*/
.main-inicio {
  height: calc(100vh - 160px); }
  .main-inicio div h1 {
    width: 100%;
    text-align: center;
    border: #ffffff 1px solid;
    margin-top: 30px;
    color: #192537;
    font-size: 35px; }
  .main-inicio div h2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #92856f; }
  .main-inicio nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto imagen"; }
    .main-inicio nav .main-texto {
      display: grid;
      grid-area: texto; }
      .main-inicio nav .main-texto .t-uno {
        font-size: 45px;
        color: #192537;
        margin-left: 20px;
        margin-top: 100px; }
      .main-inicio nav .main-texto .t-dos {
        font-size: 23px;
        margin-left: 20px;
        color: #192537; }
    .main-inicio nav .main-imagen {
      display: grid;
      grid-area: imagen; }
      .main-inicio nav .main-imagen img {
        width: 400px;
        margin-left: 100px;
        margin-top: 30px; }

/*-----footer-----*/
footer {
  width: 100%;
  height: 400px;
  background-color: #192537;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "envios servicio cambios" "ingresaemail contacto conocemas"; }
  footer div {
    color: #ffffff;
    margin: 15px;
    text-align: center; }
    footer div h5 {
      font-size: 15px; }
    footer div a {
      color: #ffffff;
      text-decoration: underline; }
      footer div a img {
        width: 30px; }
  footer #fijado img {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 15px;
    right: 15px; }

/*-----contacto-----*/
.main-contacto {
  color: #ffffff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }
  .main-contacto .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
  .main-contacto .logo {
    border: #ffffff 1px solid;
    text-align: center;
    font-size: 3em;
    color: #192537; }
    .main-contacto .logo span {
      color: #92856f; }
  .main-contacto .contact-wrapper > * {
    padding: 1em; }
  .main-contacto .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }
    .main-contacto .contact-wrapper .contact-form {
      background: #192537; }
      .main-contacto .contact-wrapper .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .main-contacto .contact-wrapper .contact-form form label {
          display: block; }
        .main-contacto .contact-wrapper .contact-form form p {
          margin: 0;
          padding: 1em; }
        .main-contacto .contact-wrapper .contact-form form .block {
          grid-column: 1 / 3; }
        .main-contacto .contact-wrapper .contact-form form button {
          width: 100%;
          padding: .7em;
          border: none;
          background: none;
          outline: 0;
          color: #192537;
          border-bottom: 1px solid #92856f;
          /**/
          background: #92856f;
          border: 0;
          text-transform: uppercase;
          padding: 1em; }
          .main-contacto .contact-wrapper .contact-form form button:hover {
            background: #ffffff;
            transition: background-color 1s ease-out;
            outline: 0; }
          .main-contacto .contact-wrapper .contact-form form button:focus {
            background: #ffffff;
            transition: background-color 1s ease-out;
            outline: 0; }
        .main-contacto .contact-wrapper .contact-form form input {
          width: 100%;
          padding: .7em;
          border: none;
          background: none;
          outline: 0;
          color: #192537;
          border-bottom: 1px solid #92856f; }
        .main-contacto .contact-wrapper .contact-form form textarea {
          width: 100%;
          padding: .7em;
          border: none;
          background: none;
          outline: 0;
          color: #192537;
          border-bottom: 1px solid #92856f; }
    .main-contacto .contact-wrapper .contact-info {
      background: #121b29; }
      .main-contacto .contact-wrapper .contact-info h4 {
        text-align: center;
        margin: 0 0 1rem 0; }
      .main-contacto .contact-wrapper .contact-info ul {
        text-align: center;
        margin: 0 0 1rem 0; }
      .main-contacto .contact-wrapper .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0; }
        .main-contacto .contact-wrapper .contact-info p iframe {
          width: 335px;
          height: 270px; }

/*-----catálogo-----*/
.main-catalogo {
  height: calc(100vh - 120px);
  background-image: url(../img/Catálogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .main-catalogo div {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-catalogo div h1 {
      color: #ffffff;
      font-size: 45px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .main-catalogo div h1:hover {
        color: #92856f;
        font-size: 55px;
        transition: .5s; }
    .main-catalogo div h2 {
      color: #92856f;
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .main-catalogo div h2:hover {
        color: #ffffff;
        font-size: 35px;
        transition: .5s; }

/*-----sobre nosotros-----*/
.main-sn {
  width: 100%; }
  .main-sn h2 {
    width: 100%;
    text-align: center;
    border: #ffffff 1px solid;
    color: #192537;
    font-size: 35px;
    text-decoration: underline; }
  .main-sn .nav-sn {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imguno textouno" "imgdos textouno"; }
    .main-sn .nav-sn div img {
      width: 500px;
      height: 300px;
      margin: 15px 5px;
      border: #192537 2px solid; }
    .main-sn .nav-sn div h3 {
      font-size: 18px;
      font-weight: 200;
      margin: 15px;
      color: #192537; }
    .main-sn .nav-sn .sn-img-uno {
      grid-area: imguno;
      display: flex;
      justify-content: center;
      align-items: center; }
    .main-sn .nav-sn .sn-img-dos {
      grid-area: imgdos;
      display: flex;
      justify-content: center;
      align-items: center; }
    .main-sn .nav-sn .sn-texto-uno {
      grid-area: textouno;
      display: flex;
      justify-content: center;
      align-items: center; }

/*-----autos usados/0km-----*/
.main-vehiculos h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #192537;
  text-decoration: underline; }

.main-vehiculos .nav-vehiculos {
  width: 100%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "uno dos tres cuatro" "cinco seis siete ocho" "nueve diez once doce";
  justify-items: center;
  align-items: center; }
  .main-vehiculos .nav-vehiculos .uno {
    grid-area: uno; }
  .main-vehiculos .nav-vehiculos .dos {
    grid-area: dos; }
  .main-vehiculos .nav-vehiculos .tres {
    grid-area: tres; }
  .main-vehiculos .nav-vehiculos .cuatro {
    grid-area: cuatro; }
  .main-vehiculos .nav-vehiculos .cinco {
    grid-area: cinco; }
  .main-vehiculos .nav-vehiculos .seis {
    grid-area: seis; }
  .main-vehiculos .nav-vehiculos .siete {
    grid-area: siete; }
  .main-vehiculos .nav-vehiculos .ocho {
    grid-area: ocho; }
  .main-vehiculos .nav-vehiculos .nueve {
    grid-area: nueve; }
  .main-vehiculos .nav-vehiculos .diez {
    grid-area: diez; }
  .main-vehiculos .nav-vehiculos .once {
    grid-area: once; }
  .main-vehiculos .nav-vehiculos .doce {
    grid-area: doce; }
  .main-vehiculos .nav-vehiculos .vehiculo {
    margin: 15px; }
    .main-vehiculos .nav-vehiculos .vehiculo:hover {
      background-color: #f1f1f1;
      transition: .2s;
      transform: scale(1.02, 1.02); }
    .main-vehiculos .nav-vehiculos .vehiculo .btn {
      background-color: #192537;
      border: 1px solid #192537; }
      .main-vehiculos .nav-vehiculos .vehiculo .btn:hover {
        background-color: #ffffff;
        color: #192537;
        border: 1px solid #192537; }

/*---------------@media---------------*/
/*-----header-----*/
@media (max-width: 870px) {
  header .boton img {
    display: block; }
  header .enlace img {
    position: relative;
    bottom: 45px; }
  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.801);
    top: 120px;
    left: -100%;
    text-align: center;
    transition: .5s;
    z-index: 1; }
    header ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px; }
      header ul li a {
        font-size: 20px;
        color: #92856f;
        text-decoration: none;
        border-radius: 15px; }
        header ul li a:hover {
          background: #92856f;
          color: #192537; }
  header #check:checked ~ ul {
    left: 0; } }

@media (max-width: 433px) {
  header .enlace img {
    width: 200px;
    margin-top: 15px; } }

/*-----footer-----*/
@media (max-width: 680px) {
  footer {
    height: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "envios" "cambios" "servicio" "ingresaemail" "conocemas" "contacto"; }
    footer div {
      border: #ffffff 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 160px; }
      footer div h5 {
        margin-top: 10px; }
      footer div p {
        display: flex;
        justify-content: center;
        align-items: center; }
  .unidad {
    height: 250px; } }

/*-----footer-bootstrap-----*/
@media (max-width: 1135px) {
  .footer-bootstrap {
    height: 450px; } }

@media (max-width: 680px) {
  .footer-bootstrap {
    height: 1350px; } }

/*-----inicio-----*/
@media (max-width: 780px) {
  .main-inicio {
    height: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "titulo" "main-imagen" "main-texto"; }
    .main-inicio .main-titulo {
      grid-area: titulo; }
    .main-inicio nav .main-texto {
      grid-area: main-texto; }
      .main-inicio nav .main-texto p {
        text-align: center;
        position: relative;
        top: 300px;
        right: 10px; }
    .main-inicio nav .main-imagen {
      grid-area: main-imagen;
      display: flex;
      justify-content: center; }
      .main-inicio nav .main-imagen img {
        margin: 0; } }

@media (max-width: 620px) {
  .main-inicio nav .main-imagen img {
    width: 300px;
    height: 200px; } }

@media (max-width: 420px) {
  .main-inicio nav .main-texto .t-uno {
    font-size: 35px; }
  .main-inicio nav .main-texto .t-dos {
    font-size: 18px; } }

/*-----contacto-----*/
@media (min-width: 700px) {
  .main-contacto {
    padding: 0 4em; }
    .main-contacto .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr; }
      .main-contacto .contact-wrapper .contact-info h4 {
        text-align: left; }
      .main-contacto .contact-wrapper .contact-info ul {
        text-align: left; }
      .main-contacto .contact-wrapper .contact-info p {
        text-align: left; }
    .main-contacto .contact-wrapper > * {
      padding: 2em; } }

@media (max-width: 433px) {
  .main-contacto .contact-wrapper .contact-info p .mapa {
    width: 200px;
    margin-top: 15px; } }

/*-----catalogo-----*/
@media (max-width: 870px) {
  .main-catalogo {
    background-image: none;
    height: 500px; }
    .main-catalogo div {
      width: 100%;
      height: 100%; }
      .main-catalogo div h1 {
        color: #92856f; }
        .main-catalogo div h1:hover {
          color: #ffffff; }
      .main-catalogo div a {
        padding: 30px 30px;
        background-color: #192537;
        margin: 10px; } }

@media (max-width: 380px) {
  .main-catalogo div a h1 {
    font-size: 30px; }
    .main-catalogo div a h1:hover {
      font-size: 40px; }
  .main-catalogo div a h2 {
    font-size: 20px; }
    .main-catalogo div a h2:hover {
      font-size: 30px; } }

/*-----sobre nosotros-----*/
@media (max-width: 970px) {
  .main-sn .nav-sn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: "imguno" "imgdos" "textouno"; } }

@media (max-width: 800px) {
  .main-sn .nav-sn div img {
    width: 400px;
    height: 250px; }
  .main-sn .nav-sn div h3 {
    font-size: 15px; } }

@media (max-width: 450px) {
  .main-sn .nav-sn div img {
    width: 300px;
    height: 170px; }
  .main-sn .nav-sn div h3 {
    font-size: 13px; } }

@media (max-width: 380px) {
  .main-sn .nav-sn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas: "imguno" "imgdos" "textouno"; } }

/*-----autos usados/0km-----*/
@media (max-width: 1300px) {
  .main-vehiculos .nav-vehiculos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "uno dos tres" "cuatro cinco seis" "siete ocho nueve" "diez once doce"; } }

@media (max-width: 970px) {
  .main-vehiculos .nav-vehiculos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "siete ocho" "nueve diez" "once doce"; } }

@media (max-width: 650px) {
  .main-vehiculos .nav-vehiculos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis" "siete" "ocho" "nueve" "diez" "once" "doce"; } }

/*-----404-----*/
.main-four {
  background-color: #192537;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-four img {
    margin: 20px;
    width: 500px; }
  .main-four p {
    color: white;
    font-size: 20px; }
  .main-four a button {
    padding: 10px;
    border-radius: 15px;
    margin: 25px;
    border: 1px white solid; }
    .main-four a button:hover {
      background-color: #192537;
      color: white;
      transition: .3s;
      cursor: pointer; }
