*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@import "header";
@import "inicio";
@import "footer";
@import "contacto";
@import "catalogo";
@import "sobre-nosotros";
@import "vehiculos";
@import "media";

